*{

}

body {
  background-color: lightgray;
}

h1 {
    border-bottom: 5px solid lightseagreen;
    text-align: center;
}

img {
    border: yellow 5px solid;
    margin-right: 60px;
}

ul {

}

li {

}

p {
  

}

#header {
  
}

#content{
  
}

#text {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#text p {
    border: white 5px solid;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    text-indent: 40px;
    padding: 10px;
    background-color: orangered;
}

#text p:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(../images/fondoParrafo.png);
}

#text p:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu {
    text-align: center;
}

#menu a{
    text-decoration: none;
}


#menu li{
    display: inline;
    border-left: 5px solid purple;
    padding-left: 5px;
}

#menu li a:hover{
 border-bottom: 2px solid blue;
}

#footer{
    border-top: 5px solid blue;
}

#footer a{

}

#footer a:hover{

}

#image {
    text-align: right;
}

@media all and (max-width: 500px) {
    
    img {
    border: brown 5px solid;
    margin-right: 0px;
    margin-left: 0px;
    width: 90%;
    }
    #image {
    text-align: right;
    }
}