/* Fuente general */
body {
    font-family: "Poppins", sans-serif;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* H1 con fondo y borde lateral */
h1 {
    background-color: beige;
    color: brown;
    border-left: 10px solid orange;
    padding: 10px;
}

/* Imagen con borde y sombra */
img {
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    display: block;
    margin: 15px auto;
}

/* Quitar puntos de la lista */
ul {
    list-style: none;
}

/* Mostrar los li en línea y con borde */
li {
    display: inline;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 5px;
}
